In [ ]:
import pandas as pd
import requests
import time
import numpy as np
import json

In [ ]:
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2022-23&SeasonType=Regular%20Season&StatCategory=PTS'
url_totals = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2022-23&SeasonType=Regular Season&StatCategory=PTS'

r = requests.get(url=url_totals).json()
table_headers= r['resultSet']['headers']
table_headers

['PLAYER_ID',
 'RANK',
 'PLAYER',
 'TEAM_ID',
 'TEAM',
 'GP',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'EFF',
 'AST_TOV',
 'STL_TOV']

In [ ]:
df_cols = ['Year', 'Season_type'] + table_headers
df_cols

['Year',
 'Season_type',
 'PLAYER_ID',
 'RANK',
 'PLAYER',
 'TEAM_ID',
 'TEAM',
 'GP',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'EFF',
 'AST_TOV',
 'STL_TOV']

In [ ]:
# Lets create an empty dataframe with our columns
df = pd.DataFrame(columns=df_cols)

# Our lists of interests
season_types = ['Regular%20Season', 'Playoffs']
years = ['2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19','2019-20','2020-21','2021-22']

begin_loop = time.time()
for y in years:
  for s in season_types:
    api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y+'&SeasonType='+s+'&StatCategory=PTS'
    try:
        r = requests.get(url=api_url).json()
    except json.JSONDecodeError:
        print('Empty response')
    temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
    temp_df2 = pd.DataFrame({'Year':[y for i in range(len(temp_df1))],
                             'Season_type': [s for i in range(len(temp_df1))]})
    temp_df3 = pd.concat([temp_df2,temp_df1], axis=1)
    df = pd.concat([df,temp_df3], axis=0)
    print(f'Finished scrapping data for {y} {s}.')
    lag = np.random.uniform(low= 5, high= 40)

    time.sleep(lag)

print(f'Process completed after {round(time.time() - begin_loop)/60,2}')
df.head()

Finished scrapping data for 2012-13 Regular%20Season.
Empty response
Finished scrapping data for 2012-13 Playoffs.
Finished scrapping data for 2013-14 Regular%20Season.
Empty response
Finished scrapping data for 2013-14 Playoffs.
Finished scrapping data for 2014-15 Regular%20Season.
Empty response
Finished scrapping data for 2014-15 Playoffs.
Empty response
Finished scrapping data for 2015-16 Regular%20Season.
Empty response
Finished scrapping data for 2015-16 Playoffs.
Finished scrapping data for 2016-17 Regular%20Season.
Finished scrapping data for 2016-17 Playoffs.
Finished scrapping data for 2017-18 Regular%20Season.
Empty response
Finished scrapping data for 2017-18 Playoffs.
Finished scrapping data for 2018-19 Regular%20Season.
Empty response
Finished scrapping data for 2018-19 Playoffs.
Finished scrapping data for 2019-20 Regular%20Season.
Empty response
Finished scrapping data for 2019-20 Playoffs.
Finished scrapping data for 2020-21 Regular%20Season.
Empty response
Finished scrapping data for 2020-21 Playoffs.
Finished scrapping data for 2021-22 Regular%20Season.
Finished scrapping data for 2021-22 Playoffs.
Process completed after (7.016666666666667, 2)

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2012-13,Regular%20Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,...,640,374,116,105,280,143,2280,2462,1.34,0.41
1,2012-13,Regular%20Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,...,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2012-13,Regular%20Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,...,610,551,129,67,226,110,2036,2446,2.44,0.57
3,2012-13,Regular%20Season,201935,4,James Harden,1610612745,HOU,78,2985,585,...,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2012-13,Regular%20Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,...,460,171,52,32,175,205,1920,1553,0.98,0.30

In [ ]:
df.shape

(9669, 30)

In [ ]:
df.to_excel('nba_player_data2.xlsx', index=False)